body { 
  background-color: black;
  color: white;
}

.title {
  position: absolute;
  line-height: .75em;
  font-size: 8em;
}

.outline { 
  -webkit-text-fill-color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

#title-fill {
  /* color: blue; */
  animation-name: sheen;
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

#title-fill.gray {
  color: orange;
  animation-delay: 0.5s;
}

#title-fill.white {
  color: white;
  animation-delay: 0.57s;
}

@keyframes sheen {
  0% { clip-path: polygon(100% -150%, 0% -125%, 0% 0%, 100% -25%) }
  100% { clip-path: polygon(100% 110%, 0% 135%, 0% 260%, 100% 235%); }
}
