body { 
  background-color: black;
  color: white;
}

canvas {
  width: 100%;
  height: 100%;

  position: absolute;
  pointer-events: none;
}

canvas#confetti{
  z-index: 1;
}

canvas#planets {
  z-index: -1;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.title {
  position: absolute;
  line-height: .75em;
  font-size: 7em;
}
@media (min-width: 576px) { 
  .title {
    font-size: 8em;
  }
}

.outline { 
  -webkit-text-fill-color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

#title-fill {
  /* color: blue; */
  animation-name: sheen;
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

#title-fill.gray {
  color: orange;
  animation-delay: 0.5s;
}

#title-fill.white {
  color: white;
  animation-delay: 0.57s;
}

@keyframes sheen {
  0% { clip-path: polygon(100% -150%, 0% -125%, 0% 0%, 100% -25%) }
  100% { clip-path: polygon(100% 110%, 0% 135%, 0% 260%, 100% 235%); }
}

.buttons {
  top: -50px;
  animation-name: reveal;
  animation-duration: .4s;
  animation-delay: 2.2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.buttons.orange { 
  animation-name: sheen;
  animation-duration: .7s;
  animation-delay: 1.6s;
}

.btn-warning {
  background-color: orange;
}

@keyframes reveal {
  0% { clip-path: polygon(100% -150%, 0% -125%, 0% 0%, 100% -25%) }
  100% { clip-path: polygon(100% -150%, 0% -125%, 0% 260%, 100% 235%); }
}